<?xml version="1.0" encoding="UTF-8"?>
<plugin id="benkesmith-screen-manager" xmlns="http://apache.org/cordova/ns/plugins/1.0" version="1.0.0">
    <name>ScreenManager</name>
    <description>Plugin for managing screen orientation and rotation</description>
    <license>Apache 2.0</license>
    <keywords>cordova, screen, orientation, rotation</keywords>

    <js-module src="www/screenManager.js" name="ScreenManager">
        <clobbers target="screenManager"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenManager">
                <param name="android-package" value="com.benkesmith.screenmanager.ScreenManager" />
            </feature>
        </config-file>
        <source-file src="src/android/ScreenManager.java" target-dir="src/com/benkesmith/screenmanager"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenManager">
                <param name="ios-package" value="ScreenManager" />
            </feature>
        </config-file>
		<source-file src="src/ios/ScreenManager.h" />
		<source-file src="src/ios/ScreenManager.m" />
    </platform>
</plugin>




